@font-face {
  font-family: "iconfont"; /* Project id 3489294 */
  src: url('iconfont.woff2?t=1673315388718') format('woff2'),
       url('iconfont.woff?t=1673315388718') format('woff'),
       url('iconfont.ttf?t=1673315388718') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouqi:before {
  content: "\e605";
}

.icon-zhankai:before {
  content: "\e60a";
}

.icon-tianjia:before {
  content: "\e62d";
}

.icon-add-circle:before {
  content: "\e614";
}

.icon-add-rectangle:before {
  content: "\e615";
}

.icon-close-circle:before {
  content: "\e61b";
}

.icon-shanchu:before {
  content: "\e63b";
}

.icon-close-little:before {
  content: "\e654";
}

.icon-chevron-down:before {
  content: "\e607";
}

.icon-chevron-left:before {
  content: "\e60b";
}

.icon-chevron-right:before {
  content: "\e60e";
}

.icon-chevron-up:before {
  content: "\e60f";
}

.icon-guanbi:before {
  content: "\e610";
}

.icon-guanbi2:before {
  content: "\e611";
}

.icon-error:before {
  content: "\e608";
}

.icon-info:before {
  content: "\e609";
}

.icon-warning:before {
  content: "\e60c";
}

.icon-warning-outline:before {
  content: "\e60d";
}

.icon-code:before {
  content: "\e6f3";
}

.icon-copy:before {
  content: "\e6f4";
}

.icon-dollar:before {
  content: "\e6f5";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-data:before {
  content: "\e6f9";
}

.icon-gift:before {
  content: "\e6fa";
}

.icon-integral:before {
  content: "\e6fb";
}

.icon-nav-list:before {
  content: "\e6fd";
}

.icon-pic:before {
  content: "\e6ff";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-rising:before {
  content: "\e703";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-rmb:before {
  content: "\e705";
}

.icon-Exportservices:before {
  content: "\e702";
}

.icon-all-fill:before {
  content: "\e718";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-integral-fill:before {
  content: "\e726";
}

.icon-namecard-fill:before {
  content: "\e72a";
}

.icon-prompt-fill:before {
  content: "\e730";
}

.icon-add-account:before {
  content: "\e741";
}

.icon-add:before {
  content: "\e742";
}

.icon-add-cart:before {
  content: "\e743";
}

.icon-arrow-right:before {
  content: "\e744";
}

.icon-arrow-left:before {
  content: "\e745";
}

.icon-arrow-up:before {
  content: "\e746";
}

.icon-ascending:before {
  content: "\e747";
}

.icon-ashbin:before {
  content: "\e748";
}

.icon-atm:before {
  content: "\e749";
}

.icon-bad:before {
  content: "\e74a";
}

.icon-attachent:before {
  content: "\e74b";
}

.icon-browse:before {
  content: "\e74c";
}

.icon-assessed-badge:before {
  content: "\e74d";
}

.icon-bags:before {
  content: "\e74e";
}

.icon-calendar:before {
  content: "\e74f";
}

.icon-cart-full:before {
  content: "\e750";
}

.icon-cecurity-protection:before {
  content: "\e751";
}

.icon-category:before {
  content: "\e752";
}

.icon-close:before {
  content: "\e753";
}

.icon-conditions:before {
  content: "\e754";
}

.icon-confirm:before {
  content: "\e755";
}

.icon-company:before {
  content: "\e756";
}

.icon-copy1:before {
  content: "\e757";
}

.icon-credit-level:before {
  content: "\e758";
}

.icon-clock:before {
  content: "\e759";
}

.icon-CurrencyConverter:before {
  content: "\e75a";
}

.icon-cut:before {
  content: "\e75b";
}

.icon-double-arro-right:before {
  content: "\e75c";
}

.icon-double-arrow-left:before {
  content: "\e75d";
}

.icon-discount:before {
  content: "\e75e";
}

.icon-download:before {
  content: "\e75f";
}

.icon-default-template:before {
  content: "\e760";
}

.icon-ellipsis:before {
  content: "\e761";
}

.icon-falling:before {
  content: "\e762";
}

.icon-filter:before {
  content: "\e763";
}

.icon-folder:before {
  content: "\e764";
}

.icon-history1:before {
  content: "\e765";
}

.icon-help:before {
  content: "\e766";
}

.icon-good:before {
  content: "\e767";
}

.icon-leftbutton:before {
  content: "\e768";
}

.icon-jewelry:before {
  content: "\e769";
}

.icon-link:before {
  content: "\e76a";
}

.icon-loading:before {
  content: "\e76b";
}

.icon-map:before {
  content: "\e76c";
}

.icon-Newuserzone:before {
  content: "\e76d";
}

.icon-password:before {
  content: "\e76e";
}

.icon-phone:before {
  content: "\e76f";
}

.icon-pin:before {
  content: "\e770";
}

.icon-reeor:before {
  content: "\e771";
}

.icon-resonserate:before {
  content: "\e772";
}

.icon-remind:before {
  content: "\e773";
}

.icon-save:before {
  content: "\e774";
}

.icon-scanning:before {
  content: "\e775";
}

.icon-security:before {
  content: "\e776";
}

.icon-salescenter:before {
  content: "\e777";
}

.icon-seleted:before {
  content: "\e778";
}

.icon-share:before {
  content: "\e779";
}

.icon-Rightbutton:before {
  content: "\e77a";
}

.icon-sound-filling:before {
  content: "\e77b";
}

.icon-success:before {
  content: "\e77c";
}

.icon-switch:before {
  content: "\e77d";
}

.icon-ashbin-fill:before {
  content: "\e77e";
}

.icon-Customermanagement-fill:before {
  content: "\e77f";
}

.icon-Rightbutton-fill:before {
  content: "\e78a";
}

.icon-success-fill:before {
  content: "\e78d";
}

.icon-collection:before {
  content: "\e79d";
}

.icon-collection-fill:before {
  content: "\e79e";
}

.icon-add-select:before {
  content: "\e7b0";
}

.icon-sami-select:before {
  content: "\e7b1";
}

.icon-flag:before {
  content: "\e7ce";
}

.icon-falg-fill:before {
  content: "\e7cf";
}

.icon-square:before {
  content: "\e7d1";
}

.icon-tag-subscript:before {
  content: "\e7d2";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-bussiness-man:before {
  content: "\e6f0";
}

.icon-component:before {
  content: "\e6f2";
}

